# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
wheels/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.pytest_cache/

# IDE/Editor settings
.idea/
.vscode/
.swp

# OS-specific
.DS_Store
Thumbs.db
